@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

.card__character {
  width: 250px;
  background: linear-gradient(
    180deg,
    #ffffff9d 0%,
    #6a00ffbf 50%,
    #5b0979c2 100%
  );
  border-radius: 1.5em;
  padding: 1em 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.35s;
}

.card__character:hover {
  box-shadow: 0 0 20px 5px #c405a7;
}

.close__button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background-color: transparent;
  color: #e7ebfc;
}

.close__button:hover {
  background-color: #e7ebfc;
  border-radius: 0.5em;
  box-sizing: content-box;
  color: #544a8c8d;
}

h2 {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  color: #e7ebfc;
  font-size: 1.5em;
}

h2:nth-of-type(1) {
  text-shadow: none;
  background-color: #c405a79c;
  padding: 0.2em;
  object-fit: fill;
  transition: 0.5s;
}

.card__character img {
  width: 100%;
}

h2:nth-of-type(2) {
  width: 45%;
}

h2:nth-of-type(3) {
  width: 45%;
}

.div__cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
}

.first__div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

hr {
  border-color: transparent;
}

.div__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div__search input {
  margin-right: 1em;
  width: 20%;
  min-width: 240px;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: 2px solid #c405a7;
  box-shadow: 0 0 10px 3px #c405a7;
  border-radius: 0.3em;
  /* caret-color: #5b0979c2; */
}

.div__search input::placeholder {
  color: #c405a7;
  font-weight: bold;
  opacity: 0.5;
}

.div__search button {
  width: 4%;
  min-width: 60px;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  background-color: #c405a7;
  color: #e7ebfc;
  transition: 0.5s;
}

.div__search button:hover {
  background-color: #e7ebfc;
  color: #c405a7;
  font-weight: bold;
  border: 2px solid #c405a7;
  box-shadow: 0 0 10px 3px #c405a7;
  transform: translateY(-1px);
}
