@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

.card__character {
  width: 250px;
  background-color: #544a8c8d;
  border-radius: 1.5em;
  padding: 1em 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.35s;
}

.card__character:hover {
  box-shadow: 0 0 20px 5px #c405a7;
}

.close__button {
  position: absolute;
  top: 12px;
  right: 12px;
  /* width: 100%; */
  border: none;
  background-color: transparent;
  color: #e7ebfc;
}

.close__button:hover {
  background-color: #e7ebfc;
  /* border: 2px solid #544a8c8d; */
  border-radius: 0.5em;
  box-sizing: content-box;
  color: #544a8c8d;
}

h2 {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  color: #e7ebfc;
  font-size: 1.5em;
  text-shadow: 0px 0px 0 rgb(137, 156, 213), 1px 1px 0 rgb(129, 148, 205),
    2px 2px 0 rgb(120, 139, 196), 3px 3px 0 rgb(111, 130, 187),
    4px 4px 0 rgb(103, 122, 179), 5px 5px 0 rgb(94, 113, 170),
    6px 6px 0 rgb(85, 104, 161), 7px 7px 0 rgb(76, 95, 152),
    8px 8px 0 rgb(68, 87, 144), 9px 9px 0 rgb(59, 78, 135),
    10px 10px 0 rgb(50, 69, 126), 11px 11px 0 rgb(42, 61, 118),
    12px 12px 0 rgb(33, 52, 109), 13px 13px 0 rgb(24, 43, 100),
    14px 14px 0 rgb(15, 34, 91), 15px 15px 0 rgb(7, 26, 83),
    16px 16px 0 rgb(-2, 17, 74), 17px 17px 0 rgb(-11, 8, 65),
    18px 18px 0 rgb(-19, 0, 57), 19px 19px 0 rgb(-28, -9, 48),
    20px 20px 0 rgb(-37, -18, 39), 21px 21px 20px rgba(0, 0, 0, 1),
    21px 21px 1px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h2:nth-of-type(1) {
  /* position: absolute;
  top: 30px;
  left: 10px; */
  text-shadow: none;
  background-color: #c405a79c;
  padding: 0.2em;
  object-fit: fill;
  /* border-radius: 0.5em; */
  transition: 0.5s;
}
/* 
h2:nth-of-type(1):hover {
  color: #0f225bbd;
  background-color: #e7ebfc;
} */

.card__character img {
  /* margin-bottom: 3em; */
  /* border-radius: 1rem; */
  width: 100%;
}

h2:nth-of-type(2) {
  width: 45%;
}

h2:nth-of-type(3) {
  width: 45%;
}

.div__cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
}

.first__div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

hr {
  border-color: transparent;
}
