.App {
   /* display: flex;
   justify-content: space-between;
   flex-direction: row; */
   text-align: center;
}
/* .divCards {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
} */
