body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/rm2.png");
  /* background-repeat: repeat; */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  /* background-image: url("./assets/bckgImage.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
